<html>
    <head>
        <title>venkatesh blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">venkatesh Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Leo Tolstoy/Quotes</a></h2>
            <p>If you want to be happy, be.
Everyone thinks of changing the world, but no one thinks of changing himself.
The two most powerful warriors are patience and time.
He stepped down, trying not to look long at her, as if she were the sun, yet he saw her, like the sun, even without looking.
All happy families resemble one another, each unhappy family is unhappy in its own way.
Music is the shorthand of emotion.
Truth, like gold, is to be obtained not by its growth, but by washing away from it all that is not gold.
All, everything that I understand, I understand only because I love.
It is amazing how complete is the delusion that beauty is goodness.
There is no greatness where there is no simplicity, goodness and truth..</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Nelson Mandela/Quotes</a></h2>
            <p>It always seems impossible until it's done.
Education is the most powerful weapon which you can use to change the world.
I learned that courage was not the absence of fear, but the triumph over it. The brave man is not he who does not feel afraid, but he who conquers that fear.
There is no passion to be found playing small - in settling for a life that is less than the one you are capable of living.
For to be free is not merely to cast off one's chains, but to live in a way that respects and enhances the freedom of others.
Never, never and never again shall it be that this beautiful land will again experience the oppression of one by another.
If you talk to a man in a language he understands, that goes to his head. If you talk to him in his language, that goes to his heart.
The greatest glory in living lies not in never falling, but in rising every time we fall.
And as we let our own light shine, we unconsciously give other people permission to do the same
I am not a saint, unless you think of a saint as a sinner who keeps on trying.</p>
        </div>
    </body>
</html>